
<div class="media" id="{{channel}}">
  <div class="media-left">
    <a href="{{url}}">
      <img src="{{logo}}" />
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="{{url}}">{{name}}</a></h4>
    <p class="status">
      {{status}}
    </p>
  </div>
</div>
